# **자료형**

## [ 문자형 ]

### 1. 문자열 슬라이싱

In [1]:
a = 'hello world!'

print(a[0])
print(a[-1])
print(a[:])
print(a[:3])
print(a[-3:])

h
!
hello world!
hel
ld!

### 2. 문자열 연산

In [4]:
a = 'hello world!'
b = 1

print(a, b)
# print(a + b) : can only concatenate str (not "int") to str
print(a+str(b))

hello world! 1
hello world!1

### 3. format과 %

In [19]:
print('My number : {}'.format(10))
print('오늘은 {}월 {}일 입니다'.format(4,28))
print('오늘은 {month}월 {day}일 입니다. 이번달은 {month}월입니다.'.format(month=4,day=28))

print('My number : %d' %(9))
print('My number : %.3f' %(9))
print('My number : %s' %(9))
print('오늘은 %d월 %d일 입니다' %(3, 27))

My number : 10
오늘은 4월 28일 입니다
오늘은 4월 28일 입니다. 이번달은 4월입니다.
My number : 9
My number : 9.000
My number : 9
오늘은 3월 27일 입니다

### 4. split

* 특정 기준(띄어쓰기)을 기준으로 나누어 리스트로 변환

In [20]:
a = 'hello world!'
print(a.split())

['hello', 'world!']

In [21]:
a = 'hello world!'
print(a.split('o'))

['hell', ' w', 'rld!']

---

## [ 리스트(List) ]

### 1. 리스트의 구조

* 복잡한 구조를 한번에 표현할 수 있음

In [22]:
a = [1,3,5,5,2,4]
b = [1, [1,2], [1,[2,3]]
     ]
print(type(a))
print(type(b))
print(b[0])
print(b[1])
print(b[2])

<class 'list'>
<class 'list'>
1
[1, 2]
[1, [2, 3]]

### 2. 리스트 슬라이싱

In [24]:
a = [1, [2,3], [4,[5,6,7]]]

print(a[0])
print(a[-1])
print(a[-1][1])

1
[4, [5, 6, 7]]
[5, 6, 7]

### 3. 데이터 변경

In [28]:
a = [1, [2,3], [4,[5,6,7]]]

print(a[1][0])

a[1][0]=8
print(a)

2
[1, [8, 3], [4, [5, 6, 7]]]

### 4. 리스트 변환

* +, append, pop

In [29]:
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a,b)
print(a*2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3] [4, 5, 6]
[1, 2, 3, 1, 2, 3]

In [31]:
a = [1,2,3]
b = [4,5,6]

a.append(4)
b.append([7,8])

print(a)
print(b)

[1, 2, 3, 4]
[4, 5, 6, [7, 8]]

In [33]:
a = [1,2,3]
b = [4,5,6]

x = a.pop()
print(a, x)

b.pop(1)
print(b)

[1, 2] 3
[4, 6]

---

## [ 튜플 ]

### 1. 튜플 구조와 슬라이싱

In [1]:
a = (1,2,3)

print(type(a))
print(a[1])
print(a[1:])

<class 'tuple'>
2
(2, 3)

### 2. 튜플 내 변환

* 튜플은 리스트와 달리 원소값 변환이 불가함
* 개인정보와 같은 정보 수정이 필요없는 경우에 사용

In [3]:
a = (1,2,3)

# a[2] = 0 : 'tuple' object does not support item assignment

### 3. 튜플 연산

In [4]:
a = (1,2,3)
b = (4,5,6)

print(a+b)
print(a,b)
print(a*2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3) (4, 5, 6)
(1, 2, 3, 1, 2, 3)

---

## [ 딕셔너리 ]

### 1. 딕셔너리 구조

* Dictionary는 Key, Value로 구성

In [5]:
a = {'사자':'lion', '호랑이':'tiger', '토끼':'rabbit'}

print(a)
print(type(a))

{'사자': 'lion', '호랑이': 'tiger', '토끼': 'rabbit'}
<class 'dict'>

* 하나의 Key에 여러 Value로 구성이 가능

In [6]:
a = {'car':['bus','truck','taxi'],
     'train':'ktx'}

print(a)
print(a['car'])
print(a['train'])

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx'}
['bus', 'truck', 'taxi']
ktx

* dictionary의 key와 value 따로 가져오기 => 형변환

In [11]:
a = {'car':['bus','truck','taxi'],
     'train':'ktx'}

key = a.keys()
print(key)
print(type(key))
# print(key[0]) : 'dict_keys' object is not subscriptable
key2 = list(key)
print(key2[0])

value = a.values()
print(value)
print(type(value))
# print(value[0]) : 'dict_values' object is not subscriptable
value2 = list(value)
print(value2[0])

dict_keys(['car', 'train'])
<class 'dict_keys'>
car
dict_values([['bus', 'truck', 'taxi'], 'ktx'])
<class 'dict_values'>
['bus', 'truck', 'taxi']

### 2. 딕셔너리 요소 추가/삭제
* 추가 : dictionary[key] = value
* 삭제 : del

In [13]:
a = {'car':['bus','truck','taxi'],
     'train':'ktx'}

a['plane']='jet'
print(a)

del a['plane']
print(a)

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx', 'plane': 'jet'}
{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx'}

---

## [ 집합(Set) ]

### 1. 집합 구조
* 리스트나 튜플로 해도 상관이 없음

In [14]:
a = set([1,2,3])
b = set((1,2,3))

print(a)
print(b)
print(type(a))
print(type(b))

{1, 2, 3}
{1, 2, 3}
<class 'set'>
<class 'set'>

* 중복된 항목 제거

In [ ]:
a = set([1,1,2,3,4,3])

print(a)

* 순서가 없음 => 인덱스가 없음
* 특정 위치의 원소를 가져오고 싶으면 리스트로 형변환 후에 인덱스로 가져와아함

In [18]:
a = set([3,4,3,1,1,2,'a','b','ㄱ'])

print(a)
# print(a[0]) : 'set' object is not subscriptable

b = list(a)
print(b[0])

{1, 2, 3, 4, 'a', 'ㄱ', 'b'}
1

### 2. 집합 연산
* 합집합 : union / 교집합 : intersection / 차집합 : difference(-)

In [20]:
a = set([1,2,3])
b = set([3,4,5])

c = a.union(b)
d = a.intersection(b)
e = a.difference(b)
e2 = a-b

print(c)
print(d)
print(e)
print(e2)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2}

___

# **제어문**

## [ 반복문(for) ]

### 1. for문 구조
* 1부터 10까지 출력하기 : 일일이 리스트로, range 함수

In [24]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(i, end=' ')
print()
for i in range(11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10

* 숫자 간격을 1이 아니라 지정하는 경우

In [28]:
for i in range(0, 11, 2): # 간격을 2로
    print(i, end=' ')
print()
for i in range(10, 0, -2): # 간격을 2로
    print(i, end=' ')

0 2 4 6 8 10
10 8 6 4 2

## [ 반복문(While) ]

### 1. While문 구조

In [29]:
i=1
while i < 10:
    print(i, end= ' ')
    i +=1

1 2 3 4 5 6 7 8 9

## [ 조건문(if) ]

### 1. if문 구조
* if~else문

In [30]:
x=6
if x>5:
    print('True')
else:
    print('False')

True

* if~elif~else문

In [32]:
x=6
if x>5:
    print('초과')
elif x==5:
    print('=')
else:
    print('미만')

초과

## [ List Comprehension ]

### 1. 리스트에 원소 삽입
* append

In [33]:
a = []
for i in range(1, 11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
a = []
for i in range(1, 10):
    a.append(i**2)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### 2. 조건문+반복문+리스트
* 조건을 이용하여 특정 원소만 뽑아내기

In [37]:
a = [90, 39, 48, 37, 60]
score = [i for i in a if i >59]
print(score)

[90, 60]

---

# **함수와 라이브러리**

## [ 함수 ]

### 1. 함수 생성
* def 함수명(인자)

In [39]:
def function1(x):
    print(x+1)
    
function1(1)

2

* 변수 반환

In [41]:
def function2(x):
    result = x+1
    return result

print(function2(1))

2

In [43]:
def function3(x):
    result1 = x+1
    result2 = x+2
    return result1, result2

a, b = function3(1)
print(a, b)

2 3

### 2. 여러 인자를 받는 경우
* args

In [44]:
def function4(*args):
    for i in args:
        print(i, end=' ')

function4(1, 3, 4, 6, 'a')

1 3 4 6 a

## [ 라이브러리 ]

### 1. 라이브러리 사용
* 외부 라이브러리를 사용하기 위해 설치가 필요 = pip install 라이브러리명
* 설치한 라이브러리를 가져와 사용해야 함 => import 라이브러리 as 약어

In [46]:
# pip install pandas

In [47]:
import pandas as pd

pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]})

   a  b
0  1  4
1  2  5
2  3  6